.displayPatientHeader {
  position: relative;
  background-image: linear-gradient(142deg, #060607, #061e63bf) !important;
  display: flex;
  align-items: center;
  top: 0px;
  padding: 21px 0px 21px 32px;
}

.participantsContainer {
  display: flex;
  overflow: hidden;
  padding: 10px;
  font-family: 'Montserrat';
  color: #CED4DA;
  flex-direction: column;
}

.groupName {
  margin: 0px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
}

.memberName {
  margin: 0px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
}

.participantList {
  display: none;
  position: absolute;
  left: 67px;
  top: 60px;
  z-index: 1;
  color: #ffffffb0;
  background-color: #192a5f;
  padding: 14px;
  list-style: none;
  width: 300px;
  border-radius: 12px;
  margin: 0px;
}

.participantList>li {
  margin-bottom: 10px;
}

.participants {
  margin: 0%;
}

.memberName:hover+.participantList {
  display: block;
}